<form [formGroup]="sizeForm"(ngSubmit)="save()" class="h-full">
  <div fxLayout="column" fxLayoutGap="20px" class="form-content">
    <div class="input-row">
      <mat-card fxFlex>
        <mat-card-header>
          <mat-card-title>{{ 'form.size' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <mat-form-field fxFlex>
              <input matInput type="text" color="primary" placeholder="{{ 'table.sizes.size' | translate }}"
                formControlName="size" name="size-size" required/>
            </mat-form-field>
    <div fclass="input-row" xLayoutGap="20px" fxLayoutAlign="center center">
      <button fxFlex="25" fxFlex.xs="30" mat-raised-button type="button" (click)="cancel()"
      [formNoValidate]="true">{{ 'button.cancel' | translate }}</button>
      <button fxFlex="25" fxFlex.xs="30" mat-raised-button type="submit" color="primary"
      [disabled]="!sizeForm.valid">{{ 'button.save' | translate }}</button>
    </div>
