.container {
  // width: 500px;
  // height: 300px;
  border: 1px solid rgb(0, 0, 0);
}

.sidenav-content {
  // display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding: 20px;
}

.div-tab-content {
  margin: 8px;
}
.box{
    width: 100%;
    height: 100%;
background-image: url(../../../assets/images/fondo_main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color:#ffd740 ;
}